.bodyIndex{
    height: 100%;
    background-color: #CE93D8;
    background-size: 100%;
}
/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html { 
    font-size: 62.5%;
} */

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

/* variables */
:root {
    /* Colors */
    --pink: #FCDAFF;
    --white: #FFFFFF;
    --pink2: #630584;


    /* Fonts */
    --fontText: 'Roboto', sans-serif;
    --fontPrimary: 'Inter', sans-serif;
    
}
/* HEADER */
.headerContainer{
    background-color: var(--pink);
    width: 100%;
    height: 70px;
}
.headernav{
    font-family: var(--fontPrimary);
    display: flex;
    justify-content: flex-end;
}
.headernav li{
    margin: 2px;
    margin-top: 35px;
    padding: 3px;
    
}
.headernav li a{
    color: var(--pink2);
    
}
.headernav li a:hover{
    color: #FFFFFF;
}
/* Images */
.imgIndex{
   width: 90%;
   height: 100%;
   border: solid #FFFFFF;
   background-color: #FFFFFF;
   border-radius: 8px;
   margin: 20px 0 350px;/* modifica el main */
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   
}

.mainIndex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
}
.mainIndex img{
    max-width: 45%;
    max-height: 85%;
    margin: 1rem;
}
 /* titulo */
 .mainIndex h2{
    color: #FFFFFF;
    font-size: 42px;
    font-weight:bold ;
    background-color: var(--pink2);
    border-radius: 8px;
    margin-top: 20px;
    width: 70%;
 }
 .mainIndex h3{
    color: #FFFFFF;
    font-size: 22;
    font-weight:bold ;
    width: 70%;
 }
/* FOOTER */
.footerBox{
    background-color: var(--pink);
    width: 100%;
    height: 100%;
    font-family: var(--fontPrimary);
    color: var(--pink2);
}
.footerBox h3{
    padding: 10px;
    padding-bottom: 55px;
}
.footerBox p{
    font-size: 12px;
    display: flex;
    justify-content: center;
}
@media ( max-width: 992px ) /*tablet*/
 {
 /* header */

 }
 @media ( max-width: 765px ) /* mobile */
 {
/* Images */
.imgIndex{
    flex-direction: column-reverse;
 }
 }